.update-form {
  width: 500px;
  display: block;
  margin: 20px auto;
}
.title {
  margin-top: 20px;
}
.f_info input {
  width: 100%;
  border: 1px solid rgb(160, 160, 160);
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.i-btn {
  display: block;
  position: relative;
  padding: 10px 15px;
  top: 10px;
  color: white;
  border: none;
  outline: none;
  background-color: rgb(76, 76, 255);
  border-radius: 5px;
}
.i-btn:hover {
  background-color: rgb(0, 0, 175);
}
.d-btn {
  position: relative;
  padding: 5px 15px;
  color: white;
  border: none;
  outline: none;
  background-color: rgb(0, 174, 255);
  border-radius: 5px;
}
.d-btn:hover {
  background-color: rgb(0, 78, 114);
}
.about {
  margin: 50px auto;
}
.restock {
  margin-top: 10px;
}
.p_info {
  margin-top: 10px;
  width: 100%;
}
