.main {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
  font-size: 25px;
}
.nav-items {
  display: flex;
  margin-left: 25px;
}

.nav-items a {
  text-decoration: none;
  margin-left: 20px;
}
.login a {
  text-decoration: none;
}
