* {
  margin: 0;
  padding: 0;
}
.l_g_f {
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.r-icon {
  display: inline;
  font-size: 16px;
  position: relative;
  top: -2px;
}
